<div class="row">
  <div class="col-sm-12">
    <form (ngSubmit)="onAddRecipe(form)" #form="ngForm" >
      <div class="row my-2">
        <div class="col-sm-5 form-group">
          <label class="form-label">Name</label>
          <input class="form-control" name="name" ngModel required>

        </div>
        <div class="col-sm-2 form-group">
          <label class="form-label">Amount</label>
          <input type="number" class="form-control" name="amount" ngModel required min="1">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-success me-1" type="submit" [disabled]="!form.valid">{{editMode ? 'Update': 'Add'}}</button>
          <button class="btn btn-danger me-1" (click)="onDelete()" *ngIf="editMode" type="button">Delete</button>
          <button class="btn btn-primary" (click)="onClear()" type="button">Clear</button>
        </div>
      </div>

    </form>
  </div>
</div>
