<nav class="navbar navbar-expand-md navbar-light bg-light mb-4 px-4">
  <a class="navbar-brand" routerLink="/">Recipe Book</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLinkActive="active" routerLink="/recipes"  >Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/shopping">Shopping List</a>
      </li>

    </ul>

    <a *ngIf="!isAuthenticated" routerLink="/login" class="nav-link"> Login</a>
    <div *ngIf="isAuthenticated" class="dropdown" appDropdown>
      <button class="btn dropdown-toggle" type="button">
        Manage
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item">Save Draft</a></li>
        <li><a class="dropdown-item">Fetch Data</a></li>
        <li><a class="dropdown-item" (click)="onLogout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<app-loader *ngIf="isLoading"></app-loader>
