<div class="row">
  <div class="col-sm-12 offset-md-3 col-md-6">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
      <div class="grid gap-2">

        <div class="alert alert-danger" *ngIf="error">{{error}}</div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mb-3">
              <label for="name" class="form-label">Email</label>
              <input type="text" id="name" class="form-control" formControlName="email">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="mb-3">
              <label for="name" class="form-label">Password</label>
              <input type="password" id="password" class="form-control" formControlName="password">
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-12 gap-2 d-flex">
            <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">Login</button>
          </div>
        </div>

      </div>

    </form>

  </div>
</div>
